<div data-controller="insert-msg">
  <div class="chat-window"  id="chat">
    <div class="chat-topic">
      <h3><%= @conversation.topic.name %></h3>
      <p><%= @conversation.topic.level %> level</p>
    </div>
    <div class="bot-msg">
      <%= @conversation.bot_messages.order('created_at ASC').first.content %>
      <%= render "bot_audio_tag", bot_message: @conversation.bot_messages.first %>
    </div>

    <div class="msgs" data-insert-msg-target="conversation">
      <% @conversation.user_messages.each_with_index do |user_msg, index| %>
          <div class="user-msg">
            <%= user_msg.content %>
          </div>

          <div class="feedback">
            <%= user_msg.feedback %>
          </div>

          <% next_bot_message = @conversation.bot_messages.find { |bot_msg| bot_msg.created_at > user_msg.created_at } %>
          <% if next_bot_message %>
            <div class="bot-msg">
              <%= next_bot_message.content %>
              <%= render "conversations/bot_audio_tag", bot_message: next_bot_message  %>
            </div>
          <% end %>

        <% end %>
    </div>

  </div>
  <div class="buttons">
      <%=link_to "Choose a new topic", topics_path, data: { 'turbo-method': :get }, class:"topic-btn"%>
      <%=link_to "Go to dashboard", conversations_path, data: { 'turbo-method': :get }, class:"dashboard-btn"%>
  </div>
</div>
