<div class="chat-window">
  <div class="bot-msg">
    <%= @conversation.bot_messages.first.content %>
  </div>
  <%# <% if @user_message.present? %>
      <% @conversation.user_messages.each do |msg| %>


        <div class="user-msg">
          <%= msg.content %>
        </div>
        <div class="bot-msg">
          <%= msg.bot_message.content %>
        </div>
      <% end %>
    <%# <% end %>


</div>
<div class = "input-field">
  <%= simple_form_for [@conversation, @user_message] do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
  <% end %>
</div>
