<div class="chat-window">
  <div class="bot-msg">
    <%= @conversation.bot_messages.first.content %>
      <% if @bot_message.audio.attached? %>
        <%= audio_tag @bot_message.audio, controls: true %>
        <% else %>
          <p>No audio available</p>
        <% end %>

  </div>
  <% @conversation.user_messages.each do |msg| %>
    <div class="user-msg">
      <%= msg.content %>
    </div>
    <div class="bot-msg">
      <%= msg.bot_message.content %>
    </div>
  <% end %>

</div>
<div class = "input-field">
    <%= simple_form_for [@conversation, @user_message] do |f| %>
        <%= f.input :content %>
        <%= f.submit %>
    <% end %>
</div>
