<div class="container topics">
  <h1>Topics</h1>
  <p>Awesome! Your level is a <%= @user.level %>.</p>
  <p>Please choose a topic you would like to talk about.</p>
  <div class="container-cards category-wrapper">
      <% Topic.all.each do |topic| %>
        <div class="card-category category-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <%= simple_form_for @conversation, html: { id: 'conversation_form' } do |f| %>
                  <%= f.radio_button :topic_id, topic.id, class: 'category-selector visually-hidden' %>
                  <%= f.label topic.name %>
                <% end %>
              </div>
              <div class="flip-card-back" data-controller='form-submit' data-action='click->form-submit#submit'>
                <%= simple_form_for @conversation, html: { data: {  form_submit_target: 'form' } } do |f| %>
                <%= f.input :topic_id, as: :hidden, input_html: {value: topic.id}, class: 'category-selector visually-hidden' %>
                <% end %>
                <h3>Description</h3>
                <p><%= topic.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>


  </div>
</div>

<%# <style>
   .category-selector label:hover::before  {
    content: "New Text Here";
  }
</style> %>
