<div class="container levels">
  <h1>Choose Your Language Level</h1>
  <div class="language-level">

    <div class="set-level">
      <%= link_to  users_set_language_level_path(level: "Beginner"), data: {turbo_method: :post}, class: "link" do %>
        <div class="card-product">
          <%= image_tag "plant_small.png" %>
          <div class="card-product-infos">
            <h2>Beginner</h2>
            <p> This resource is tailored for <strong> beginners </strong> seeking to enhance their conversational abilities.</p>
          </div>
        </div>
    <% end %>
    </div>

 <div class="set-level">
      <%= link_to  users_set_language_level_path(level: "Intermediate"), data: {turbo_method: :post}, class: "link" do %>
        <div class="card-product">
          <%= image_tag "plant_medium.png" %>
          <div class="card-product-infos">
            <h2>Intermediate</h2>
            <p> This is for those who have <strong>some experience</strong> with the language and want to improve.</p>
          </div>
        </div>
     <% end %>
    </div>

 <div class="set-level">
      <%= link_to  users_set_language_level_path(level: "Advanced"), data: {turbo_method: :post}, class: "link" do %>
        <div class="card-product">
          <%= image_tag "plant_big.png" %>
          <div class="card-product-infos">
            <h2>Advanced</h2>
            <p> This is for those who are <strong>fluent</strong> in the language and want to maintain their skills.</p>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
