<!DOCTYPE html>
<html>
  <head>
    <title>FluentlyAI - Your AI buddy who gets you speaking in a foreign language with confidence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your AI buddy who gets you speaking in German language with confidence">
    <meta name="keywords" content="FluentlyAI buddy, German, language, speaking, practice, conversation">
    <meta name="author" content="FluentlyAI Team">
    <meta property="og:title" content="FluentlyAI - Your AI buddy who gets you speaking in a foreign language with confidence">
    <meta property="og:description" content="Your AI buddy who gets you speaking in German language with confidence">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fluentlyai.site">
    <meta property="og:image" content="http://www.fluentlyai.site/images/Logo1.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <%= favicon_link_tag %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
